openapi: 3.0.1
servers:
  - description: Index swagger
    url: https://api.mibanco.com.co
info:
  description: Servicios de entidad gestión de préstamos.
  version: 0.0.1
  title: Préstamos_ES
  contact:
    name: MiBanco
    url: https://www.mibanco.com.co/
    email: api@mibanco.com.co
  license:
    name: GNU GPLv3
    url: 'https://www.gnu.org/licenses/gpl-3.0.html'
tags:
  - name: Préstamos
    description: Gestión de préstamos
#----------------------------
#Endpoints del Entidad
#----------------------------
paths:
  /v1/es/prestamo-fic/{numeroCliente}:
    get:
      summary: Consulta préstamo
      operationId: consultarPrestamo
      parameters:
        - in: path
          name: numeroCliente
          required: true
          schema:
            type: integer
          description: número de cliente
      responses:
        "200":
          description: obtener préstamo.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PrestamoType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encontró datos de préstamo"
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/prestamo-fic/condonado/{numeroPrestamo}:
    get:
      summary: Consulta préstamo condonado
      operationId: consultarPrestamoCondonado
      parameters:
        - in: path
          name: numeroPrestamo
          required: true
          schema:
            type: integer
          description: número de cliente
      responses:
        "200":
          description: obtener préstamo.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PrestamoCondonadoType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encontró datos de préstamo"
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/prestamo-fic/detalle-pagos/cliente/{numeroPrestamo}:
    get:
      summary: Consulta detalle pagos
      operationId: PrestamoDetallePagos
      parameters:
        - in: path
          name: numeroPrestamo
          required: true
          schema:
            type: integer
          description: número de cliente
      responses:
        "200":
          description: obtener préstamo.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PrestamoDetallePagosType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encontró datos de préstamo"
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/prestamo-fic/garantia/{numeroPrestamo}:
    get:
      summary: Consulta préstamo garantía
      operationId: consultarPrestamoGarantia
      parameters:
        - in: path
          name: numeroPrestamo
          required: true
          schema:
            type: integer
          description: número de cliente
      responses:
        "200":
          description: obtener préstamo.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PrestamoGarantiaType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encontró datos de préstamo"
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/prestamo-fic/otro-titular/{numeroPrestamo}:
    get:
      summary: Consulta préstamo otro titular
      operationId: consultarPrestamoOtroTitular
      parameters:
        - in: path
          name: numeroPrestamo
          required: true
          schema:
            type: integer
          description: número de cliente
      responses:
        "200":
          description: obtener préstamo.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PrestamoOtroTitularType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encontró datos de préstamo"
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/prestamo-fic/plan-pagos/{numeroPrestamo}:
    get:
      summary: Consulta préstamo plan de pagos
      operationId: consultarPrestamoPlanDePagos
      parameters:
        - in: path
          name: numeroPrestamo
          required: true
          schema:
            type: integer
          description: número de cliente
      responses:
        "200":
          description: obtener préstamo.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PrestamoPlanDePagosType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encontró datos de préstamo"
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/prestamo-fic/otro-cargo/{numeroPrestamo}:
    get:
      summary: Consulta préstamo plan de pagos otro cargo
      operationId: consultarPrestamoPlanDePagosOtroCargo
      parameters:
        - in: path
          name: numeroPrestamo
          required: true
          schema:
            type: integer
          description: número de préstamo
      responses:
        "200":
          description: obtener préstamo.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PrestamoPlanDePagosOtroCargoType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encontró datos de préstamo"
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/prestamo-fic/pendiente/pago/{numeroPrestamo}:
    get:
      summary: Consulta préstamo por pagar
      operationId: consultarPrestamoPorPagar
      parameters:
        - in: path
          name: numeroPrestamo
          required: true
          schema:
            type: integer
          description: número de préstamo
      responses:
        "200":
          description: obtener préstamo.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PrestamoPorPagarType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encontró datos de préstamo"
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

#---------------------------------------------
#Se declaran los Modelos/Schemas del servicio
#---------------------------------------------

components:
  schemas:
    #    TYPES
    PrestamoType:
      type: object
      properties:
        condicionPrestamo:
          type: string
        diasMoraActual:
          type: integer
        diasMoraMaxima:
          type: integer
        diasMoraPromedio:
          type: integer
        estadoActualPrestamo:
          type: string
        fechaDesembolso:
          type: string
        fechaUltimoPago:
          type: string
        montoDesembolsado:
          type: integer
          format: float
        numeroCliente:
          type: integer
        numeroPrestamo:
          type: string
        plazo:
          type: integer
        prestamoCondonado:
          type: string
        #          $ref: "#/components/schemas/PrestamoCondonadoType" //Modeling incompleto
        prestamoDetallePagos:
          type: string
        #          $ref: "#/components/schemas/PrestamoDetallePagosType" //Modeling incompleto
        prestamoGarantia:
          type: string
        #          $ref: "#/components/schemas/PrestamoGarantiaType" //Modeling incompleto
        prestamoOtroTitular:
          type: string
        #          $ref: "#/components/schemas/PrestamoOtroTitularType" //Modeling incompleto
        prestamoPlanDePagos:
          type: string
        #          $ref: "#/components/schemas/PrestamoPlanDePagosType" //Modeling incompleto
        prestamoPorPagar:
          type: string
        #          $ref: "#/components/schemas/PrestamoPorPagarType" //Modeling incompleto
        saldoActual:
          type: integer
          format: float
        subProducto:
          $ref: "#/components/schemas/SubProductoEnum"
    PrestamoCondonadoType:
      type: object
      properties:
        abonoACapital:
          type: integer
          format: float
        comisionComisionIVA:
          type: integer
          format: float
        diasVencidos:
          type: integer
        estado:
          type: string
        fechaAPagar:
          type: string
        fechaPago:
          type: string
        GACGACIVA:
          type: integer
          format: float
        gastoExtraDiferidoGastoExtraDiferidoIVA:
          type: integer
          format: float
        gastoExtraJudicialGastoExtraJudicialIVA:
          type: integer
          format: float
        interesesCteBalance:
          type: integer
          format: float
        InteresesCteContingente:
          type: integer
          format: float
        interesesMoraBalance:
          type: integer
          format: float
        interesesMoraContingente:
          type: integer
          format: float
        leyMipymeLeyMipymeIVA:
          type: integer
          format: float
        numeroCuota:
          type: integer
        numeroPrestamo:
          type: string
        otrosGastos:
          type: integer
          format: float
        otrosGastosIVA:
          type: integer
          format: float
        seguroAdicional:
          type: integer
          format: float
        seguroVida:
          type: integer
          format: float
        totalCuota:
          type: integer
          format: float
    PrestamoDetallePagosType:
      type: object
      properties:
        fechaPago:
          type: string
        valorPagado:
          type: integer
          format: float
        abonoACapital:
          type: integer
          format: float
        interesesCorrientes:
          type: integer
          format: float
        interesesMora:
          type: integer
          format: float
        seguroVida:
          type: integer
          format: float
        leyMipyme:
          type: integer
          format: float
        leyMipymeIVA:
          type: integer
          format: float
        cargoCobranza:
          type: integer
          format: float
        cobranzaIVA:
          type: integer
          format: float
        otros:
          type: integer
          format: float
        numeroPrestamo:
          type: string
    PrestamoGarantiaType:
      type: object
      properties:
        tipoGarantia:
          $ref: "#/components/schemas/TipoGarantiaEnum"
        SubtipoGarantia:
          type: string
        avaluo:
          type: integer
          format: float
        referencia:
          type: string
        numeroPrestamo:
          type: string
    PrestamoOtroTitularType:
      type: object
      properties:
        tipoDocumento:
          $ref: "#/components/schemas/TipoDocumentoEnum"
        numeroDocumento:
          type: string
        primerNombre:
          type: string
        segundoNombre:
          type: string
        primerApellido:
          type: string
        segundoApellido:
          type: string
        tipoTitular:
          $ref: "#/components/schemas/TipoTitularEnum"
        numeroPrestamo:
          type: string
    PrestamoPlanDePagosType:
      type: object
      properties:
        numeroCuota:
          type: integer
        fechaAPagar:
          type: string
        abonoACapital:
          type: integer
          format: float
        intereses:
          type: integer
          format: float
        otrosCargos:
          type: integer
          format: float
        totalCuota:
          type: integer
          format: float
        saldo:
          type: integer
          format: float
        estado:
          type: string
        diasVencidos:
          type: integer
        fechaPago:
          type: string
        montoPagado:
          type: integer
          format: float
        prestamoPlanDePagosOtroCargo:
          type: string
        #        $ref: '#/components/schemas/ListPrestamoPlanDePagosOtroCargoType' // sin data en  modeling
        numeroPrestamo:
          type: string
    PrestamoPlanDePagosOtroCargoType:
      type: object
      properties:
        numeroPrestamo:
          type: string
        valor:
          type: integer
          format: float
        descripcionCargo:
          type: string
    PrestamoPorPagarType:
      type: object
      properties:
        numeroCuota:
          type: integer
        fechaAPagar:
          type: string
        abonoACapital:
          type: integer
          format: float
        interesesCteBalance:
          type: integer
          format: float
        interesesCteContingente:
          type: integer
          format: float
        interesesMoraBalance:
          type: integer
          format: float
        interesesMoraContingente:
          type: integer
          format: float
        seguroVida:
          type: integer
          format: float
        seguroAdicional:
          type: integer
          format: float
        leyMipymeLeyMipymeIVA:
          type: integer
          format: float
        comisionComisionIVA:
          type: integer
          format: float
        GACGACIVA:
          type: integer
          format: float
        gastoExtraJudicialGastoExtraJudicialIVA:
          type: integer
          format: float
        gastoExtraDiferidoGastoExtraDiferidoIVA:
          type: integer
          format: float
        totalCuota:
          type: integer
          format: float
        estado:
          type: string
        fechaPago:
          type: string
        diasVencidos:
          type: integer
        numeroPrestamo:
          type: string

    #    ENUMERADORES
    TipoDocumentoEnum:
      type: string
      enum:
        - CC
        - TI
        - CDI
        - CE
        - CPA
        - NIT
        - PAS
        - RCN
        - RUT
        - TE
        - RUMC
    SubProductoEnum:
      type: string
      enum:
        - REMA AAFC APORTES AFC - CENTRALIZADO
        - REMA AARL APORTES ARL - CENTRALIZADO
        - REMC ABOG ANTICIPO ABOGADOS - CENTRALIZADO
        - REMA AFP AFP PENSIONES - CENTRALIZADO
        - REMC ANTC ANTICIPOS LABORALES - CENTRALIZADO
        - GRFG ASDI GARANTIA ASDI
        - REMC AUTO FALTANTE EN CAJERO AUTOMATICO - OFICINAS
        - REMA BDEG SEGURO BIENES DADOS EN GRTIA  - CENTRALIZADO
        - BONO BN01 BONO < 18 MESES DTF
        - BONO BN02 BONO > 18 MESES DTF
        - BONO BN03 BONO < 18 MESES IBR
    TipoGarantiaEnum:
      type: string
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - A
        - B
        - C
        - D
        - E
        - F
        - G
        - H
        - I
        - J
        - K
        - L
        - M
        - N
        - O
        - P
        - Q
        - R
        - S
        - T
        - U
        - V
        - W
        - X
        - Y
        - Z
    TipoTitularEnum:
      type: string
      enum:
        - SINDATAMODELING

        #   ERRORES
    Error:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: "The request is invalid."
      required:
        - status
        - message

  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
